{% load notifications_tags %}
<body>
<ul class="navbar-nav mb-2 mb-lg-0">
    <li class="nav-item dropdown">
      <a class="nav-link" href="#" id="user-notifications-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="bi-bell">{% live_notify_badge badge_class="badge" %}</span>
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user-notifications-dropdown">
        {% for notification in  user.notifications.unread%}
	  <div>
	    Message from <b>{{ notification.actor }}</b>
	    <button class="dropdown-item" type="button" onclick={{ notification.mark_as_read}}>{{ notification.description }}</button>
		</div>
		<div class="dropdown-divider"></div>
	{% endfor %}
      </ul>
    </li>
  </ul>
</body>