<div class="container-fluid content">
  <div class="container mb-3 border border-light py-3 text-break text-white" style="border-width: 2px; background-color: 	#666666">
    Email: {{ target_user.email}}
  </div>
  <div class="container mt-3 mb-3 border border-light py-3 text-white" style="border-width: 2px; background-color: 	#979797; font-family: 'Playfair', sans-serif;">
    Chess Experience: {{ target_user.chess_experience }}
  </div>
  <div class="container mt-3 border border-light py-3 text-break text-white" style="border-width: 2px; background-color: #666666; font-family: 'Playfair', sans-serif; font-weight: 400">
    Personal Statement: {{ target_user.personal_statement}}
  </div>
</div>
