<div class="container-fluid content">
    <div class="container mb-3 border border-light py-3" style="border-width: 2px; background-color: #bae1f7 ">
        Email: {{ user.email}}
    </div>
  <div class="container mt-3 mb-3 border border-light py-3" style="border-width: 2px; background-color: #80c5ed ">
        Chess Experience: {{ user.chess_experience }}
    </div>
        <div class="container mt-3 border border-light py-3" style="border-width: 2px; background-color: #bae1f7 ">
        Personal Statement: {{ user.personal_statement}}
    </div>

</div>