<div class="container-fluid content">
    <div class="container mb-3 border border-light py-3 text-break" style="border-width: 2px; background-color: #bae1f7 ">
        Email: {{ target_user.email}}
    </div>
  <div class="container mt-3 mb-3 border border-light py-3" style="border-width: 2px; background-color: #80c5ed ">
        Chess Experience: {{ target_user.chess_experience }}
    </div>
        <div class="container mt-3 border border-light py-3 text-break" style="border-width: 2px; background-color: #bae1f7 ">
        Personal Statement: {{ target_user.personal_statement}}
    </div>

</div>
