<div class="container-fluid content">
  <div class="container d-flex justify-content-center">
    <img src="{{ user.gravatar }}" alt="Gravatar of {{ user.full_name }}" class="rounded-circle profile-image" />
  </div>
      <div class="container d-flex justify-content-center mb-5">
    <div class="profile-text">
      <h3 class="profile-title">{{ user.full_name }}</h3>
    </div>
  </div>
        <div class="container mt-3 border border-light py-3" style="border-width: 2px">
        Status: {{ user.status}}
    </div>
    <div class="container mt-3 border border-light py-3" style="border-width: 2px">
        Bio: {{ user.bio }}
    </div>
        <div class="container mt-3 mb-3 border border-light py-3" style="border-width: 2px">
        Chess Experience: {{ user.chess_experience }}
    </div>
        <div class="container mt-3 border border-light py-3" style="border-width: 2px">
        Personal Statement: {{ user.personal_statement}}
    </div>
</div>