{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="mb-5">Apply</h1>
      <form action="{% url 'create_club' %}" method="post">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
          <div class="container d-flex justify-content-center">
        <input type="submit" value="create_club" class="btn btn-primary mb-5">
          </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
