{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row w-75 mx-auto">
    <div class="col-sm-12 col-md-8 offset-md-2">
      <h1 class="mb-3 mt-3" >Create Club</h1>
      <form action="{% url 'create_club' %}" method="post">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
          <div class="container d-flex justify-content-center">
            <input type="submit" value="Create Club" class="btn text-white blue-apple">
          </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
