{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <p class="mt-3">
        <a href='{% url 'create_club' %}' class="btn btn-lg btn-primary">
          Create Club
        </a>
      </p>
      <h1 class="mb-3 mt-3">All Clubs</h1>
        <table class="table">
          <tr><th>Name</th><th>Location</th></tr>
            {% for club in clubs %}
              <tr>
                <td><a class="btn btn-outline-primary" href="{% url 'show_club' club_name=club.name %}">{{ club.name }}</a></td>
                <td>{{ club.location }}</td>
              </tr>
            {% endfor%}
        </table>
    </div>
  </div>
</div>
{% endblock %}
