{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>My applications</h1>
    <br>
    {% if count == 0 %}
        <p>You currently have no application undergoing</p>
    {% endif %}
      <table class="table">
      {% for accepted_application in accepted_applications%}
          <tr>
              <td><a class = "btn btn-outline-primary" href="{% url 'show_club' club_name=accepted_application.name %}">{{ accepted_application.name }}</a></td>
              <td><p style="color:green;"> <strong>Notice: </strong>Your application has been accepted</p></td>
              <td><a class = "btn btn-outline-primary" href="{% url 'acknowledge' club_name=accepted_application.name %}">join now</a></td>
          </tr>
        {% endfor%}
        {% for application in applications%}
          <tr>
              <td><a class = "btn btn-outline-primary" href="{% url 'show_club' club_name=application.name %}">{{ application.name }}</a></td>
              <td><p style="color:sandybrown;"><strong>Notice: </strong>Your application is now under review</p></td>
          </tr>
        {% endfor%}
        {% for denied_application in denied_applications%}
          <tr>
                <td><a class = "btn btn-outline-primary" href="{% url 'show_club' club_name=denied_application.name %}">{{ denied_application.name }}</a></td>
                <td><p style="color:red;"> <strong>Notice: </strong>Your application has been denied</p></td>
                <td><a class = "btn btn-outline-primary" href="{% url 'acknowledge' club_name=denied_application.name %}">ok</a></td>
          </tr>
        {% endfor%}
      </table>
    </div>
  </div>
</div>
{% endblock %}