{% load custom_template_tags %}
{% lengthof clubs as num_clubs%}
{% if num_clubs != 0 %}
<ul class="navbar-nav mb-2 mb-lg-0">
  <li class="nav-item dropdown">
    <a class="nav-link" href="#" id="my-clubs-dropdown" role="button" aria-expanded="false"> My Clubs </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user-account-dropdown">
        {% for club in clubs %}
            <li>
          <a class="dropdown-item" href="{% url 'show_club' club_name=club.name %}"> {{club.name}} </a>
            </li>
        {% endfor%}
      </ul>
    </li>
</ul>
{% endif %}
