{% extends 'base_content.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="mb-3 mt-3">My Matches</h1>
                {% if count == 0 %}
                    <p><i id="no_matches">You are currently not playing in any tournament.</i></p>
                {% else %}
                    <div class="col-6">
                    {% for tournament, list_matches in tournaments.items %}
                        <h5 class="p-2"
                            style="background-color: rgba(1,.03,0,.08); border-bottom: 1px solid rgba(0,0,0,.125);">{{ tournament.name }}</h5>
                        {% if not tournament.is_published %}
                            <p><i id="not_published">The schedule has not been published yet.</i></p>
                        {% elif not list_matches %}
                            <p><i id="no_match_to_play_in_tournament">You have no more matches in this tournament for now.</i></p>
                        {% else %}
                            {% for match in list_matches %}
                                <div class="matches">
                                    {% if my_name == match.get_player1.user.full_name  %}
                                    <p class="p-2"> You <strong>vs</strong> {{ match.get_player2.user.full_name }}</p><br>
                                {% else %}
                                        <p class="p-2"> You <strong>vs</strong> {{ match.get_player1.user.full_name }}</p><br>
                                {% endif %}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}