{% extends 'base_content.html'%}
{% block content %}
    <div class="container d-flex justify-content-center">
      {% include 'partials/user_profile.html' with target_user=user%}
        </div>
    <div class="container d-flex justify-content-center">
    {% include 'partials/show_user_private_info.html' with target_user=user%}
        </div>

     <p>
        <a href='{% url 'clubs_list' %}' class="btn btn-lg btn-primary">
          Clubs
        </a>
     </p>
    <div class="container d-flex justify-content-center">
        <a class="btn btn-outline-info" href="{% url 'create_club' %}">Create club</a>
    </div>
{% endblock %}
