{% load custom_template_tags %}
{% lengthof tournaments as size %}
{% if size != 0 %}
<ul class="navbar-nav mb-2 mb-lg-0">
  <li class="dropdown">
       <a class="nav-link" href="#" id="my-tournaments-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> My Tournaments </a>
      <ul class="dropdown-menu">
      {% past_tournaments tournaments as past %}
      {% if past %}
        <li class="dropdown-submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Past Tournaments</a>
                    <ul class="dropdown-menu">
                      {% for tournament in tournaments %}
                        {% if tournament.has_finished%}
                        <li>
                          <a class="dropdown-item" href="{% url 'show_tournament' club_name=tournament.club.name tournament_name=tournament.name %}"> {{tournament.name}} </a>
                        </li>
                        {%endif%}
                      {% endfor%}
                    </ul>
                </li>
          {% endif %}
      {% current_tournaments tournaments as current %}
      {% if current %}
        <li class="dropdown-submenu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">Current tournaments</span><span class="caret"></span></a>
            <ul class="dropdown-menu">
              {% for tournament in tournaments %}
                {% if tournament.has_started and not tournament.has_finished%}
                    <li>
                      <a class="dropdown-item" href="{% url 'show_tournament' club_name=tournament.club.name tournament_name=tournament.name %}"> {{tournament.name}} </a>
                    </li>
                {%endif%}
              {% endfor%}
            </ul>
        </li>
          {% endif %}
      {% future_tournaments tournaments as future %}
      {% if future %}
        <li class="dropdown-submenu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">Future tournaments</span><span class="caret"></span></a>
            <ul class="dropdown-menu">
              {% for tournament in tournaments %}
                {% if not tournament.has_started and not tournament.has_finished %}
                  <li>
                    <a class="dropdown-item" href="{% url 'show_tournament' club_name=tournament.club.name tournament_name=tournament.name %}"> {{tournament.name}} </a>
                  </li>
                {%endif%}
              {% endfor%}
            </ul>
          </li>
          {% endif %}
          </ul>
    </li>
</ul>
{% endif %}
