{% extends 'base_content.html' %}
{% block content %}
<div class="container pb-4 mt-2">
  <div class="row w-50 mx-auto" >
    <div class="col-sm-12 col-md-8 offset-md-2">
      <h1 class="mb-3 mt-3">Change Password</h1>
      <form action="{% url 'password' %}" method="post">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
        <div class="container d-flex justify-content-center">
            <input type="submit" value="Change Password" class="btn text-white mt-2" style="background-color: 	#0088cc;">
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
