{% extends 'base_content.html' %}
{% block body %}
    {% include 'partials/navbar.html' with request=request%}
  {% include 'partials/second_navbar.html' with request=request club=club%}
  {% include 'partials/messages.html' %}
{% block content %}
<div class="container fluid">
  <div class="container d-flex justify-content-center">
    <div class="container-fluid content">
      <div class="profile-text">
        <h3 class="profile-title">{{ club.name }}</h3>
      </div>
      <div class="container mt-3 border border-light py-3" style="border-width: 2px; background-color: #80c5ed ">
        <b>Description</b><br>
        {{ club.description }}<br>
      </div>
      <div class="container mt-3 border border-light py-3" style="border-width: 2px; background-color: #bae1f7 ">
        <b>Location</b><br>
        {{ club.location }}<br>
      </div>
      <div class="container mt-3 border border-light py-3" style="border-width: 2px; background-color: #80c5ed ">
        <b>Statistics</b><br>
        Number of members: {{ club.member_count }}<br>
      </div>
      <div class="container mt-3 border border-light py-3" style="border-width: 2px; background-color: #bae1f7 ">
        <b>Club Owner</b><br>
        <img src="{{ club.get_club_owner.gravatar }}" alt="Gravatar of {{ club.get_club_owner.full_name }}" class="rounded-circle"/><br>
        {{ club.get_club_owner.full_name }}<br>
        {{ club.get_club_owner.bio }}<br>
      </div>
      {% if user_status == 'authenticated_non_member_user'  %}
      <div class="container d-flex justify-content-center mt-3">
        <a href="{% url 'apply_club' club_name=club.name %}"  class="btn btn-outline-info">Apply to this club</a>
      </div>
          {% else %}

          <div class="container d-flex justify-content-center mt-3">
          <p>For this club, your current status is :<br></p>
          </div>
          <div class="container d-flex justify-content-center">
          <p> {{user_status}}</p>
          </div>
      {%endif%}
        {% if user_status == "officer" or user_status == "owner" %}
    
             <div>
        <a href="{% url 'create_tournament' club_name=club.name %}"  class="btn btn-outline-info">Create new tournament</a>
    </div>
    {% endif %}
    
          <div class="container d-flex justify-content-center mt-5">
              <h5>For this club, your current status is :<strong> {{user_status}}</strong></h5>
          </div>

        {% if user_status == 'officer' or user_status == 'member' %}
            <div class="container d-flex justify-content-center mt-3">
        <a href="{% url 'leave' club_name=club.name %}"  class="btn btn-outline-danger" onclick="return leaveConfirmation()">Leave this club</a>
            </div>
        {% endif %}

    </div>
  </div>
</div>
{% endblock %}
{% endblock %}

