
{% extends 'base_content.html' %}
{% block content %}
<div class="container fluid">
  <div class="container d-flex justify-content-center">
      {% include 'partials/user_profile.html' with target_user=target_user%}
    </div>
    {% if current_user_status == "officer" or current_user_status == "owner"%}
    <div class="container mb-5 d-flex justify-content-center">
      {% include 'partials/show_user_private_info.html' with target_user=target_user%}
    </div>
    {%endif%}
    <div class="container d-flex justify-content-center">
      {% if current_user_status == "owner" %}
        {% if target_user_status == "member" %}
            <div class="mx-3">
          <a href="{% url 'promote' club_name=club.name user_id=target_user.id %}"  class="btn btn-outline-success">Promote</a>
            </div>
          {%endif%}
        {% if target_user_status == "officer" %}
            <div class = "mx-3">
        <a href="{% url 'demote' club_name=club.name user_id=target_user.id %}"  class="btn btn-outline-danger ">Demote </a>
            </div>
            <div class="mx-3">
        <a href="{% url 'transfer_ownership' club_name=club.name user_id=target_user.id %}"  class="btn btn-outline-info ">Transfer ownership </a>
            </div>
        {% endif%}
      {%endif%}
    {% if current_user_status == "officer" %}
        {% if target_user_status == "applicant" %}
            <div class = "mx-3">
          <a href="{% url 'accept' club_name=club.name user_id=target_user.id %}"  class="btn btn-outline-success">Accept</a>
            </div>
            <div class = "mx-3">
            <a href="{% url 'deny' club_name=club.name user_id=target_user.id %}"  class="btn btn-outline-danger">Deny</a>
            </div>
          {%endif%}
      {%endif%}

</div>
</div>
{% endblock %}
