
{% extends 'base_content.html' %}
{% block content %}
<div class="container fluid">
  <div class="container d-flex justify-content-center">
      {% include 'partials/user_profile.html'%}
    </div>
    {% if is_officer or is_owner %}
    <div class="container mb-5 d-flex justify-content-center">
      {% include 'partials/show_user_private_info.html'%}
    </div>
    {%endif%}
    <div class="container d-flex justify-content-center">
      {% if is_owner %}
        {% if is_target_user_member %}
            <div class="mx-3">
          <a href="{% url 'promote' user.id %}"  class="btn btn-outline-success">Promote</a>
            </div>
          {%endif%}
        {% if is_target_user_officer %}
            <div class = "mx-3">
        <a href="{% url 'demote' user.id %}"  class="btn btn-outline-danger ">Demote </a>
            </div>
            <div class="mx-3">
        <a href="{% url 'transfer_ownership' user.id %}"  class="btn btn-outline-info ">Transfer ownership </a>
            </div>
        {% endif%}
      {%endif%}
    {% if is_officer %}
        {% if user.status == "applicant" %}
            <div class = "mx-3">
          <a href="{% url 'accept' user.id %}"  class="btn btn-outline-success">Accept</a>
            </div>
            <div class = "mx-3">
            <a href="{% url 'deny' user.id %}"  class="btn btn-outline-danger">Deny</a>
            </div>
          {%endif%}
      {%endif%}

</div>
</div>
{% endblock %}
