
{% extends 'base_content.html' %}
{% block content %}
<div class="container fluid">
  <div class="container d-flex justify-content-center">
    <div class="container-fluid content">
      <div class="profile-text">
        <h3 class="profile-title">{{club.name}}</h3>
      </div>
      <div class="container mt-3 border border-light py-3" style="border-width: 2px; background-color: #bae1f7 ">
        <b>Club Description</b></br>
        {{club.description}}
      </div>
      <div class="container mt-3 mb-2 border border-light py-3" style="border-width: 2px; background-color: #80c5ed ">
        <b>Club Location</b></br>
        {{club.location}}
      </div>
      <div class="container mt-3 mb-2 border border-light py-3" style="border-width: 2px; background-color: #80c5ed ">
        <b>Statistics</b> </br>
        Number of members: {{club.member_count}}
        </div>
      <div class="container mt-3 mb-2 border border-light py-3" style="border-width: 2px; background-color: #bae1f7 ">
        <b>Club Owner</b></br>
        <img src="{{club_owner.mini_gravatar}}" alt="Gravatar of {{club_owner.full_name}}" class="rounded-circle"/> {{ club_owner.full_name }}</br>
        {{ club_owner.bio }}
      </div>
    </div>

    <div class="container mt-3 mb-2 border border-light py-3" style="border-width: 2px; background-color: #bae1f7 ">
      {% for user in club.get_members reversed %}
      <b>{{ user.status }}</b></br>
      <img src="{{user.mini_gravatar}}" alt="Gravatar of {{user.full_name}}" class="rounded-circle"/> {{ user.full_name }}</br>
      {% endfor%}
    </div>
  </div>

  {% if not is_member %}
  <div class="container d-flex justify-content-center">
    <a href="{% url 'my_profile' %}"  class="btn btn-outline-info">Apply to this club</a>
  </div>
  {%endif%}
  {% if is_member %}
  <div class="container d-flex justify-content-center">
    <button type="button" disabled>You are a member of this club.</button>
  </div>
  {%endif%}

</div>
{% endblock %}
