{% extends 'base_content.html' %}
{% block body %}
    {% include 'partials/navbar.html' with request=request%}
  {% include 'partials/second_navbar.html' with request=request club=club%}
  {% include 'partials/messages.html' %}
{% block content %}

<div class="container fluid pb-5">
  <div class="container d-flex justify-content-center">
      {% include 'partials/user_profile.html' with target_user=target_user%}
    </div>
    {% if current_user_status == "officer" or current_user_status == "owner"%}
    <div class="container mb-5 d-flex justify-content-center">
      {% include 'partials/show_user_private_info.html' with target_user=target_user%}
    </div>
    {%endif%}
    <div class="container d-flex justify-content-center">
      {% if current_user_status == "owner" %}
        {% if target_user_status == "member" %}
            <div class="mx-3">
          <a href="{% url 'promote' club_name=club.name user_id=target_user.id %}"  onclick="return promoteConfirmation()" class="btn btn-success">Promote</a>
            </div>
            <div class="mx-3">
          <a href="{% url 'ban' club_name=club.name user_id=target_user.id%}" onclick="return banConfirmation()" class="btn btn-danger">Ban this user</a>
            </div>
          {%endif%}
        {% if target_user_status == "officer" %}
            <div class = "mx-3">
        <a href="{% url 'demote' club_name=club.name user_id=target_user.id %}"  onclick="return demoteConfirmation()" class="btn btn-danger ">Demote</a>
            </div>
            <form action="{% url 'transfer_ownership' club_name=club.name user_id=target_user.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Transfer ownership" onclick="return transferConfirmation()" class="btn text-white blue-apple"><input type="submit" value="Transfer ownership" onclick="return transferConfirmation()">
      </form>
        {% endif%}
      {%endif%}
    {% if current_user_status == "officer" or current_user_status == "owner"%}
        {% if target_user_status == "applicant" %}
            <div class = "mx-3">
          <a href="{% url 'accept' club_name=club.name user_id=target_user.id %}" onclick="return acceptConfirmation()" class="btn btn-outline-success">Accept</a>
            </div>
            <div class = "mx-3">
            <a href="{% url 'deny' club_name=club.name user_id=target_user.id %}" onclick="return denyConfirmation()" class="btn btn-outline-danger">Deny</a>
            </div>
          {%endif%}
      {%endif%}

</div>
</div>
{% endblock %}
{% endblock %}