{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Users</h1>
    <br>
      <table class="table">
        {% for user in users %}
            {% if user.status != "applicant" and not user.is_superuser and user.status != "denied_applicants"%}
          <tr>
            <td>
              <img src="{{ user.mini_gravatar }}" alt="Gravatar of {{ user.full_name }}" class="rounded-circle" >
            </td>
              {% if user == current_user %}
                  <td><p>You</p></td>
              {% else %}
                  <td><a href="{% url 'show_user' user_id=user.id club_name=club.name %}">{{ user.full_name }}</a></td>
              {% endif %}
            <td>{{ user.status }}</td>
          </tr>
            {% endif %}
        {% endfor%}
      </table>
    </div>
  </div>
</div>
{% endblock %}
